#first{
    text-align: center;
    font-size: 30px;
    
  }
  
  .second{
    background-color: rgb(198, 161, 174);
  }
  
  #ganu{
    text-align: right;
    font-size: larger;
  }
  
  #yog{
    text-align: right;
  }